out/*
data/*
idx
search/wiki_*/metadata.dat
search/wiki_*/wiki_*.dat
search/idx_*
.ipynb_checkpoints
wiki_dump/wiki_dump.csv
wiki_dump/data
wiki_dump/enwiki*
old/out/*
old/wiki_old_input.csv
old/search/wiki_*/metadata.dat
old/search/wiki_*/wiki_*.dat
old/search/idx_*
